{% load sekizai_tags %}
{% load static %}

{% addtoblock "js" %}
  <script type="text/javascript" src='{% static 'apollo.js' %}'></script>
{% endaddtoblock %}

<div id="buttons_wrapper">
  <div class="row visible-xs">
    {% for button in buttons %}
      <div class="button-wrapper col-xs-12">
        {% include "apollo/button_content.html" %}
        {% include "apollo/button.html" %}
      </div>
    {% endfor %}
  </div>

  <div class="row hidden-xs">
    {% for button in buttons %}
      <div class="button-wrapper-top col-sm-{{ button_width }}">
        {% include "apollo/button_content.html" %}
      </div>
    {% endfor %}
  </div>

  <div class="row hidden-xs">
    {% for button in buttons %}
      <div class="button-wrapper-bottom col-sm-{{ button_width }}">
        {% include "apollo/button.html" %}
      </div>

    {% endfor %}
  </div>
</div>
